*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
}
section{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    background-color: hsl(234, 17%, 12%);
    background-image: url(images/pattern-hills.svg), url(images/bg-stars.svg);
    background-repeat: no-repeat;
    background-position: 0 100%, center;
    padding: 140px 0 70px 0;
}
h1{
    color: white;
    letter-spacing: 10px;
    margin-bottom: 110px;
}
.countdown-timer{
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
}
.flip{
    margin: 0 15px;
    position: relative;
}
.top-flip, .bottom-flip{
    height: 70px;
    width: 150px;
    background-color: hsl(236, 21%, 26%);
    margin-bottom: 1px;
    border-radius: 10px;
}
.days, .hours, .minutes, .seconds{
    position: absolute;
    left: 15px;
    bottom: 25px;
    color: hsl(345, 95%, 68%);
    font-size: 90px;
    line-height: 90px;
}
.countdown-timer h2{
    color: white;
    font-size: 14px;
    letter-spacing: 8px;
    opacity: .5;
    margin-top: 30px;
}
.social img{
    margin: 0 15px;
}